---
Name: salesforceconfig
---


SalesForceDefaultContactField:
  default_records:
    SalesforceField: Value
    SalesforceField: Value
    SalesforceField: Value

MySalesforceContactConfigApi:
  site_wide_fields_to_send:
    SalesforceField: Value
    SalesforceField: Value
    SalesforceField: Value
  site_wide_filter_values:
    SalesforceField: Value
    SalesforceField: Value
    SalesforceField: Value


### ###################################
### credentials below are required
### ###################################

---
Only:
  environment: 'dev'
---
MySalesForcePartnerAPIConnectionOnly:
  username: ''
  password: ''
  security_token: ''
  wsdl_location: 'mysite/salesforceconfig/foo-bar.xml'

---
Only:
  environment: 'test'
---
MySalesForcePartnerAPIConnectionOnly:
  username: ''
  password: ''
  security_token: ''
  wsdl_location: 'mysite/salesforceconfig/foo-bar.xml'

---
Only:
  environment: 'live'
---
MySalesForcePartnerAPIConnectionOnly:
  username: ''
  password: ''
  security_token: ''
  wsdl_location: 'mysite/salesforceconfig/foo-bar.xml'
