---
Name: salesforceconfig
---


SalesforceDefaultContactField:
  default_records:
    SalesforceField:
      Value: Foo
      ValueType: String

MySalesforceContactConfigApi:
  site_wide_fields_to_send:
    SalesforceField: Value
    SalesforceField: Value
    SalesforceField: Value
  site_wide_filter_values:
    SalesforceField: Value
    SalesforceField: Value
    SalesforceField: Value

MySalesforceContactConfigApi:
  site_wide_fields_to_send_on_creation:
    FieldA: ValueA
  site_wide_fields_to_send_on_update:
    FieldA: ValueA
  site_wide_filter_values:
    FieldA: ValueA

### ###################################
### credentials below are required
### ###################################

---
Only:
  environment: 'dev'
---
MySalesforcePartnerAPIConnectionOnly:
  username: ''
  password: ''
  security_token: ''
  wsdl_location: 'mysite/salesforceconfig/foo-bar.xml'

---
Only:
  environment: 'test'
---
MySalesforcePartnerAPIConnectionOnly:
  username: ''
  password: ''
  security_token: ''
  wsdl_location: 'mysite/salesforceconfig/foo-bar.xml'

---
Only:
  environment: 'live'
---
MySalesforcePartnerAPIConnectionOnly:
  username: ''
  password: ''
  security_token: ''
  wsdl_location: 'mysite/salesforceconfig/foo-bar.xml'
